#product

  %h3 Product

  %table
    %tr
      %th Name
      %th Description
      %th Price
      %th Currency
      %th Weight
      %th Image URL

    %tr
      %td= link_to @product.name, @product
      %td= link_to @product.description, @product
      %td= link_to @product.price, @product
      %td= link_to @product.currency, @product
      %td= link_to @product.weight, @product
      %td= link_to @product.image_url, @product
