#payment

  %h3 Payments Made

  %table
    %tr
      %th Date
      %th Subscription ID
      %th User Name
      %th Amount
      %th
    - @payments.each do |payment|
      %tr
        %td= link_to payment.created_at, payment
        - if payment.subscription != nil
          %td= link_to payment.subscription_id, payment
          %td= link_to payment.subscription.user.name, payment
        - else
          %td &nbsp;
          %td &nbsp;
        %td= link_to payment.amount.to_s + " " + payment.currency, payment
        %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
