<<<<<<< HEAD
#context

  %h1 Editing Product Item

  = render 'form'

  = link_to 'Show', @product_item
  \|
  = link_to 'Back to Dashboard', dashboards_path
=======
%h1 Editing product_item

= render 'form'

= link_to 'Show', @product_item
\|
= link_to 'Back', product_items_path
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf
