#context.dashboard

  %p#notice= notice

  %p
    %b Quantity:
    = @product_item.quantity
  %p
    %b Custom options:
    = @product_item.custom_options

  = render_cell :product, :display, :product_item => @product_item
  = link_to 'Edit', edit_product_item_path(@product_item)
  \|
  = link_to 'Back to Dashboard', dashboards_path
