#dashboard.content
  %p#notice= notice

  - if can? :manage, User
    = render 'dashboards/header_admin'
  - else
    = render 'dashboards/header_user'

  %p
    %b ID:
    = @user.id
  %p
    %b Name:
    = @user.name
  %p
    %b Email:
    = @user.email
  %p
    %b Phone:
    = @user.phone
  - if can? :manage, User
    %p
      %b User role:
      = @user.user_role
    %p
      %b Status:
      = @user.status
    -# %p
      -# %b Subcriptions:
      -# - @user.subscriptions.each do |subscription|
        -# %p
          -# = subscription.id
          -# :plain
            -# -
          -# = subscription.created_at

  - if can? :manage, User
    = render_cell :subscription, :manage, :user => @user

  = render_cell :payment_method, :display, :user => @user

  %p &nbsp;

  = link_to 'Edit', edit_user_path(@user), :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
