#user
  %h3 Listing Users

  %p There are #{@users.size} users.

  %table
    %tr
      %th Name
      %th Email
      %th Phone
      %th User role
      %th Is Active
      %th

    - @users.each do |user|
      %tr
        %td= link_to_if user.name, user.name, user
        %td= link_to user.email, user
        %td= link_to_if user.phone, user.phone, user
        %td= link_to user.user_role, user
        %td= link_to user.is_active, user
        %td= link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
