#user
  %h3 Listing Users

  There are #{@users.size} users.

  %table
    %tr
      %th Name
      %th Email
      %th Phone
      %th User role
      %th Status
      %th
<<<<<<< HEAD

    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= link_to user.email, user
        %td= link_to user.phone, user
        %td= link_to user.user_role, user
        %td= link_to user.status, user
=======
      %th
      %th

    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.phone
        %td= user.user_role
        %td= user.status
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New User', new_user_path
