#shippinginfo

  %h3 Shipping Info

  %table
    %tr
      %th Name
      %th City
      %th State
      %th Postal code
      %th Country

    - if @shipping_info != nil
      %tr
        %td= link_to @shipping_info.name, @shipping_info
        %td= link_to @shipping_info.city, @shipping_info
        %td= link_to @shipping_info.state, @shipping_info
        %td= link_to @shipping_info.postal_code, @shipping_info
        %td= link_to @shipping_info.country, @shipping_info
