#shippinginfo

  %h3 Shipping Info

  %table
    %tr
      %th Name
      %th City
      %th State
      %th Postal code
      %th Country
      %th
<<<<<<< HEAD

    - if @shipping_info != nil
      %tr
        %td= link_to @shipping_info.name, @shipping_info
        %td= link_to @shipping_info.city, @shipping_info
        %td= link_to @shipping_info.state, @shipping_info
        %td= link_to @shipping_info.postal_code, @shipping_info
        %td= link_to @shipping_info.country, @shipping_info
        %td= link_to 'Destroy', @shipping_info, :method => :delete, :data => { :confirm => 'Are you sure?' }
=======
      %th
      %th

    - if @shipping_info != nil
      %tr
        %td= @shipping_info.name
        %td= @shipping_info.city
        %td= @shipping_info.state
        %td= @shipping_info.postal_code
        %td= @shipping_info.country
        %td= link_to 'Show', shipping_info
        %td= link_to 'Edit', edit_shipping_info_path(shipping_info)
        %td= link_to 'Destroy', shipping_info, :method => :delete, :data => { :confirm => 'Are you sure?' }
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf

  %br