#shippinginfo

  %h3 Listing Shipping Info's

  %table
    %tr
      %th User ID
      %th Name
      %th City
      %th State
      %th Postal code
      %th Country
      %th
<<<<<<< HEAD
=======
      %th
      %th
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf

    - @shipping_infos.each do |shipping_info|
      %tr
        - if shipping_info.user != nil
<<<<<<< HEAD
          %td= link_to shipping_info.user.id, shipping_info
        - else
          %td &nbsp;
        %td= link_to shipping_info.name, shipping_info
        %td= link_to shipping_info.city, shipping_info
        %td= link_to shipping_info.state, shipping_info
        %td= link_to shipping_info.postal_code, shipping_info
        %td= link_to shipping_info.country, shipping_info
=======
          %td= shipping_info.user.id
        - else
          %td &nbsp;
        %td= shipping_info.name
        %td= shipping_info.city
        %td= shipping_info.state
        %td= shipping_info.postal_code
        %td= shipping_info.country
        %td= link_to 'Show', shipping_info
        %td= link_to 'Edit', edit_shipping_info_path(shipping_info)
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf
        %td= link_to 'Destroy', shipping_info, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br