#shippinginfo

  %h3 Listing Shipping Info's

  %table
    %tr
      %th User ID
      %th Name
      %th City
      %th State
      %th Postal code
      %th Country
      %th

    - @shipping_infos.each do |shipping_info|
      %tr
        - if shipping_info.user != nil
          %td= link_to shipping_info.user.id, shipping_info
        - else
          %td &nbsp;
        %td= link_to shipping_info.name, shipping_info
        %td= link_to shipping_info.city, shipping_info
        %td= link_to shipping_info.state, shipping_info
        %td= link_to shipping_info.postal_code, shipping_info
        %td= link_to shipping_info.country, shipping_info
        %td= link_to 'Destroy', shipping_info, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br