#content

  %h1 Admin Dashboard

  = render_cell :user, :display
<<<<<<< HEAD

  = render_cell :product, :display

  = render_cell :product_item, :display

=======
  
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf
  = render_cell :subscription, :manage, :user => nil

  = render_cell :payment, :manage

  = render_cell :shipment, :manage

  = render_cell :shipping_info, :manage, :user => nil