#subscription
  %h3 Listing Subscriptions

  %table
    %tr
      %th Start Date
      %th Customer email
      %th Billing/Shipping period
      %th Location
      %th Coffee type
      %th Referral email
      %th Promo code
      %th Payment status
      %th

    - @subscriptions.each do |subscription|
      %tr
        %td= link_to subscription.created_at, subscription
        - if subscription.user != nil
          %td= link_to subscription.user.email, subscription
        - else
          %td &nbsp;
        %td= link_to subscription.billing_period.to_s + "/" + subscription.shipping_period.to_s, subscription
        - if subscription.shipping_info != nil
          %td= link_to subscription.shipping_info.country, subscription
        - else
          %td &nbsp;
        %td= link_to subscription.coffee_type, subscription
        %td= link_to subscription.referral_email, subscription
        %td= link_to subscription.promo_code, subscription
        %td= link_to subscription.payment_status, subscription
        %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Subscription (to test)', new_subscription_path