!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'MyCoffeeBox'
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "google-site-verification", :content => "tlCgBH2AAVBE9vXOiXGjUOejmKf50tu3QkD0aYesqfk"}
    %meta{ :description => 'MyCoffeeBox es una suscripción mensual para recibir una caja con café chiapaneco que ayuda directamente a los pequeños productores aumentando sus ingresos. Consumidores responsables y amantes del café recibirán cada mes un café diferente... Del cafetal a tu casa.' }
    %meta{ :keywords => 'mycoffeebox, coffee box, chiapas coffee, chiapas cafe, cafe de chiapas, mexico coffee, mexican coffee, cafe de mexico, organic coffee, cafe organico, high quality, quality coffee, roasted coffee, fair trade, Coffee Beans, Whole Bean, dark roast, medium roast, Drip Coffee, Brewed Coffee, Coffee at home, cafe casa, coffee subscription, cafe suscripcion' }
    = stylesheet_link_tag "application-all", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Oswald', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Roboto', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Grand+Hotel', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/images/mcb_logo_favicon.ico', :rel => 'shortcut icon', :type => 'image/x-icon' }
    <script type="text/javascript">
    var _kmq = _kmq || [];
    var _kmk = _kmk || '39b2c8a4b1aadd149f15b9a90362d8ed7e891310';
    function _kms(u){
    setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
    }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
    = yield :head
  %body
    #header-container
      #header
        %ul
          %li
            %a.header{:href => "/es/our_products", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Our Products Header']);"} Nuestros Cafés
          %li
            %a.header{:href => "/es/faq", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'FAQ Header']);"} Preguntas
          %li
            %a.header{:href => "/es", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Logo']);"}
              %img{:src => "/images/mcb_logo_new.png"}
          %li
            %a.header{:href => "/es/how", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'How Header']);"} ¿Cómo Funciona?
          %li
            = link_to "English", url_for( :locale => 'en' ), html_options = { :class => "header", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'ES->EN Header']);" }
    = yield
    #footer
      #logo
        %ul
          %li
            %img{:src => "/images/mcb_logo_new.png"}
      #info
        %h2.footer Más información
        %ul
          %li
            %a.footer{:href => "/es/how", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'How Footer']);"} ¿Cómo funciona?
          %li
            %a.footer{:href => "/es/products", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Products Footer']);"} Nuestros cafés
          %li
            %a.footer{:href => "/es/faq", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'FAQ Footer']);"} Preguntas frecuentes
          %li
            %a.footer{:href => "/es/team", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Team Footer']);"} Equipo
          %li
            %a.footer{:href => "/es/contact", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Contact Footer']);"} Contacto
      #social
        %h2.footer Redes sociales
        %ul
          %li
            %a.footer{:href => "https://twitter.com/MyCoffeeBoxmx", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Twitter footer']);", :target => "_blank"} Twitter
          %li
            %a.footer{:href => "https://www.facebook.com/mycoffeeboxmx", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Facebook Footer']);", :target => "_blank"} Facebook
          %li
            %a.footer{:href => "https://plus.google.com/106020958165448271077", :rel => "publisher", :onClick => "_gaq.push(['_trackEvent', 'ES Layout', 'Link', 'Google+ Footer']);", :target => "_blank"} Google+
          %li
            %p &nbsp;
          %li
            %p &nbsp;
          %li
            %p.footer Si tienes problemas para acceder a esta página, por favor actualiza tu navegador o descarga <a href="http://www.google.com/chrome/" class="pfooter" target ="_blank">Chrome</a> o <a href="http://www.mozilla.org/" class="pfooter" target ="_blank">Firefox</a>
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 984535885;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/984535885/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39128984-2']);
    //_gaq.push(['_setDomainName', 'none']);
    //_gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    
    //pageTracker._getLinkerUrl('https://secure.conekta.mx/checkout/flow-cart?company_id=2757603');

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  :javascript
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4075.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  :javascript
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?1KR1pgpdTGMJwXUUphPJat0cvVFWnaJR';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');