!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'MyCoffeeBox'
    %meta{ :charset => 'utf-8' }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    = yield :head
  %body
    #header-container
      #header
        %a{:href => "/", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Logo']);"}
          %img{:src => "/images/logo1.jpeg"}
        %ul
          %li 
            %a{:href => "/static_pages/products", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Productos Header']);"} Nuestras Cafés
          %li
            %a{:href => "/static_pages/usa", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'U.S. Customers Header']);"} U.S. Customers
          %li
            %a{:href => "/static_pages/euro", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'European Customers Header']);"} European Customers
    = yield
    #footer
      #info
        %h2 Más información
        %ul
          %li 
            %a{:href => "/static_pages/faq", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Preguntas Frecuentes Footer']);"} Preguntas frecuentes
          %li 
            %a{:href => "/static_pages/products", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Productos Footer']);"} Nuestras cafés
          %li 
            %a{:href => "/static_pages/usa", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'U.S. Customers Footer']);"} U.S. customers
          %li 
            %a{:href => "/static_pages/euro", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'European Customers Footer']);"} European customers
          %li 
            %a{:href => "/static_pages/contact", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Contacto Footer']);"} Contacto
      #social
        %h2 Redes sociales
        %ul
          %li 
            %a{:href => "https://twitter.com/MyCoffeeBoxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Twitter footer']);"}Twitter
          %li 
            %a{:href => "https://www.facebook.com/mycoffeeboxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Facebook Footer']);"}Facebook
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39128984-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();