!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'MyCoffeeBox'
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "google-site-verification", :content => "tlCgBH2AAVBE9vXOiXGjUOejmKf50tu3QkD0aYesqfk"}
    %meta{ :description => 'MyCoffeeBox es una suscripción mensual para recibir una caja con café chiapaneco que ayuda directamente a los pequeños productores aumentando sus ingresos. Consumidores responsables y amantes del café recibirán cada mes un café diferente... Del cafetal a tu casa.' }
    %meta{ :keywords => 'mycoffeebox, coffee box, chiapas coffee, chiapas cafe, cafe de chiapas, mexico coffee, mexican coffee, cafe de mexico, organic coffee, cafe organico, high quality, quality coffee, roasted coffee, fair trade, Coffee Beans, Whole Bean, dark roast, medium roast, Drip Coffee, Brewed Coffee, Coffee at home, cafe casa, coffee subscription, cafe suscripcion' }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    = yield :head
  %body
    #header-container
      #header
        %a{:href => "/", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Logo']);"}
          %img{:src => "/images/web_logo.png"}
        %ul
          %li
            %a.header{:href => "/how", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'How Header']);"} ¿Cómo Funciona?
          %li
            %a.header{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Products Header']);"} Nuestros Cafés
          %li
            %a.header{:href => "/international_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'International Customers EN Header']);"} International Customers
    = yield
    #footer
      #info
        %h2 Más información
        %ul
          %li
            %a.footer{:href => "/how", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'How Footer']);"} ¿Cómo funciona?
          %li
            %a.footer{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Products Footer']);"} Nuestros cafés
          %li
            %a.footer{:href => "/faq", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'FAQ Footer']);"} Preguntas frecuentes
          %li
            %a.footer{:href => "/international_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'International Customers EN Footer']);"} International customers
          %li
            %a.footer{:href => "/team", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Team Footer']);"} Equipo
          %li
            %a.footer{:href => "/contact", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Contact Footer']);"} Contacto
      #social
        %h2 Redes sociales
        %ul
          %li
            %a.footer{:href => "https://twitter.com/MyCoffeeBoxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Twitter footer']);", :target => "_blank"}Twitter
          %li
            %a.footer{:href => "https://www.facebook.com/mycoffeeboxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Facebook Footer']);", :target => "_blank"}Facebook
          %li
            %p &nbsp;
          %li
            %p.footer Fotografía propiedad de BANCHIAPAS. Fotógrafo: Alfredo Lara Espino
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39128984-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  :javascript
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4075.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);