!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'MyCoffeeBox'
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "google-site-verification", :content => "JYbk0xZIGyXLegUKN5kXNR5iJw7W3NgoJFnoanbWf-w"}
    %meta{ :description => 'MyCoffeeBox es una suscripción mensual para recibir una caja con café chiapaneco que ayuda directamente a los pequeños productores aumentando sus ingresos. Consumidores responsables y amantes del café recibirán cada mes un café diferente... Del cafetal a tu casa.' }
    %meta{ :keywords => 'mycoffeebox, coffee box, chiapas coffee, chiapas cafe, cafe de chiapas, mexico coffee, mexican coffee, cafe de mexico, organic coffee, cafe organico, high quality, quality coffee, roasted coffee, fair trade, Coffee Beans, Whole Bean, dark roast, medium roast, Drip Coffee, Brewed Coffee, Coffee at home, cafe casa, coffee subscription, cafe suscripcion' }
    = stylesheet_link_tag "application-all", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    = yield :head
  %body
    #header-container
      #header
        %a.header{:href => "/en", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Logo']);"}
          %img{:src => "/images/web_logo.png"}
        %ul
          %li
            %a.header{:href => "/en/how", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'How Header']);"} How It Works
          %li
            %a.header{:href => "/en/products", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Products Header']);"} Our Coffees
          %li
            %a.header{:href => "/en/faq", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'FAQ Header']);"} FAQ
          %li
            %a.header{:href => "/es", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'EN->ES Header']);"} Español
    = yield
    #footer
      #info
        %h2.footer More Information
        %ul
          %li
            %a.footer{:href => "/en/how", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'How Footer']);"} How It Works
          %li
            %a.footer{:href => "/en/products", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Products Footer']);"} Our Coffees
          %li
            %a.footer{:href => "/en/faq", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'FAQ Footer']);"} FAQ
          %li
            %a.footer{:href => "/en/team", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Team Footer']);"} Team
          %li
            %a.footer{:href => "/en/contact", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Contact Footer']);"} Contact
      #social
        %h2.footer Social Networks
        %ul
          %li
            %a.footer{:href => "https://twitter.com/MyCoffeeBoxmx", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Twitter footer']);", :target => "_blank"}Twitter
          %li
            %a.footer{:href => "https://www.facebook.com/pages/Mycoffeebox-English/310312309099125", :onClick => "_gaq.push(['_trackEvent', 'EN Layout', 'Link', 'Facebook Footer']);", :target => "_blank"}Facebook
          %li
            %p &nbsp;
          %li
            %p &nbsp;
          %li
            %p.footer If you are having issues viewing this webpage, please update your browser or download <a href="http://www.google.com/chrome/" class="footer" target ="_blank">Chrome</a> or <a href="http://www.mozilla.org/" class="footer" target ="_blank">Firefox</a>
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39128984-2']);
    //_gaq.push(['_setDomainName', 'none']);
    //_gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    
    //pageTracker._getLinkerUrl(https://secure.conekta.mx/checkout/flow-cart?company_id=2757603);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  :javascript
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/4075.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  :javascript
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?1KR1pgpdTGMJwXUUphPJat0cvVFWnaJR';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');