!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'MyCoffeeBox'
    %meta{ :charset => 'utf-8' }
    %meta{ :description => 'MyCoffeeBox es una suscripción mensual para recibir una caja con café Chiapaneco que ayuda directamente a los pequeños productores aumentando sus ingresos. Consumidores responsables y amantes del café recibirán cada mes un café diferente... Del cafetal a tu casa.' }
    %meta{ :keywords => 'mycoffeebox, coffee box, chiapas coffee, chiapas cafe, cafe de chiapas, mexico coffee, mexican coffee, cafe de mexico, organic coffee, cafe organico, high quality, quality coffee, roasted coffee, fair trade, Coffee Beans, Whole Bean, dark roast, medium roast, Drip Coffee, Brewed Coffee, Coffee at home, cafe casa, coffee subscription, cafe suscripcion, el triunfo, metik, maya vinic, bio cafe, biocafe, majomut' }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    = yield :head
  %body
    #header-container
      #header
        %a{:href => "/", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Logo']);"}
          %img{:src => "/images/logo1.jpeg"}
        %ul
          %li
            %a.header{:href => "/static_pages/products", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Productos Header']);"} Nuestros Cafés
          %li
            %a.header{:href => "/static_pages/usa_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'U.S. Customers EN Header']);"} U.S. Customers
          %li
            %a.header{:href => "/static_pages/euro_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'European Customers EN Header']);"} European Customers
    = yield
    #footer
      #info
        %h2 Más información
        %ul
          %li
            %a.footer{:href => "/static_pages/products", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Productos Footer']);"} Nuestros cafés
          %li
            %a.footer{:href => "/static_pages/faq", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Preguntas Frecuentes Footer']);"} Preguntas frecuentes
          %li
            %a.footer{:href => "/static_pages/usa_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'U.S. Customers EN Footer']);"} U.S. customers
          %li
            %a.footer{:href => "/static_pages/euro_en", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'European Customers EN Footer']);"} European customers
          %li
            %a.footer{:href => "/static_pages/contact", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Contacto Footer']);"} Contacto
      #social
        %h2 Redes sociales
        %ul
          %li
            %a.footer{:href => "https://twitter.com/MyCoffeeBoxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Twitter footer']);", :target => "_blank"}Twitter
          %li
            %a.footer{:href => "https://www.facebook.com/mycoffeeboxmx", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Facebook Footer']);", :target => "_blank"}Facebook
          %li
            %p &nbsp;
          %li
            %p.footer Fotografía propiedad de BANCHIAPAS. Fotógrafo: Alfredo Lara Espino
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39128984-2', 'herokuapp.com');
    ga('send', 'pageview');